* {
  font-family: Courier, Arial, sans-serif;
}

selector { 
  cursor: none; 
}

body {
	margin: 0;
	height: 100vh;
  cursor: auto;
  overflow: hidden;
}

h1 {
  color: SeaGreen;
}

p, 
li {
  font-size: 14px;
}

canvas {
	display: block;
  opacity: 1;
}


a {
  text-decoration: none;
}

.blob {
	position: fixed;
	width: 90%;
  height: 33%;
  border-radius: 2px;
  opacity: 0.8;
  bottom:  0;
  left:  5%;
  font-size: 18px;
  overflow:  scroll;
}

.hdrImg {
  z-index: -1;
  object-fit: cover;
  position: absolute;
  top: 10%;
  width: 100%;
}

.hdrImg > img {
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 960) {
  .hdrImg > img {
    z-index: 500;
  }

  .hdrImg {
    z-index: 500;
  }
}

.hdrBar1 {
  position: fixed;
  width: 10%;
  height: 10%;
  border-radius: 2px;
  opacity: 0.8;
  top:  2.5%;
  left:  20%;
  font-size: 24px;
}


#container {
	position: relative;
}